<% @projects.each do |project| %>
  <div class="project-card">
    <h3><%= link_to "#{project.name}", project_path(project) %></h3>
    <p><%= project.description %></p>
    <p><%= project.goal %></p>
  </div>
<% end %>