<h2>Search by Category</h2>
  <% @categories.each do |category| %>
    <%= link_to "#{category.name}", projects_path(id: category.id), class: "" %>
  <% end %>
  <%= link_to "All", projects_path() %>
<h2>Search by Tag</h2>

<div class="projects">
  <%= render @projects %>
</div>

<%= paginate @projects %>