$background-color: #eee;
$primary-color: hsl(27, 100%, 50%);

body {
  background: $background-color;
}

.project-card, .reward-card {
  background: #fff;
}

header {
  background: $primary-color;
  a {
    color: #fff;
  }
}

