body {
  line-height: 1.5;
}

header, main, article, .project-card, .project, .project-info, .project-rewards, .rewards-card {
  display: flex;
  box-sizing: border-box;
}

.project-card, article, .project-info, .project-rewards, .rewards-card {
  flex-direction: column;
}

.project {
  margin-top:2em;
}

main {
  margin-top: 3em;
}

.project-info {
  align-items: center;
  width: 70vw;
}

.project-rewards {
  align-items: center;
  width: 20vw;
}

.reward-card {
  width: 20vw;
  text-align: center;
  margin-bottom: 10px;
}

article {
  width: 90vw;
  margin: 0 auto;
  align-items: center;
}

.project-card {
  width: 60vw;
  height: 10em;
  margin-top: 2em;
  text-align: center;
}

header, .project {
  justify-content: space-between;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 3em;
  align-items: center;
  padding: 0 2em;
}

.project {
  width: 90vw;
}