.reward-card {
  box-sizing: border-box;
  // border: 1px solid #eee;
  width: 12rem;
  height: 10rem;
  padding: 5px;
  &:hover {
    background: yellow;
  };
  &:active {
    background: lightgreen;
  };
}

.project-rewards {
  border-left: 1px solid #eee;
  padding: 1rem;
  h3 {
    font-size: 2rem;
  }
}